.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.plant {
  padding: 10px;
}
